/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: white !important;
}
.m-left-1{margin-left: 1%;}.m-left-2{margin-left: 2%;}.m-left-3{margin-left: 3%;}.m-left-8{margin-left: 8%;}
.m-left-15{margin-left: 15%;}.m-left-22{margin-left: 22%;}.m-left-30{margin-left: 30%;}
.second-menu{
visibility: hidden;
position: absolute;
    
}
.bg-color{
    background-color:white;
}
.second-menu ul li{
    text-decoration: none;
    /* position: absolute; */
    list-style-type: none;
}
.second-menu ul li:last-child{
    top: 90px;
}
.second-menu ul li a{
    text-decoration: none;
    color: black;
}
.shop-menu:hover .second-menu{
    visibility: visible;
    transition: 1s;
}
.ms-auto li a{
    font-size: 150%;
    margin-right: 20px;
    color: black !important;
}
.ms-auto li a:hover{
    border-bottom: solid var(--button-hover-color);
    color: var(--button-hover-color) !important;
}
.btn-button-contect{
    margin-right: 100px;
    padding: 10px;
    font-size: 148%;
    color:white;
    background-color: var(--button-hover-color);
    border: none;
    border-radius: 3px;

}
.btn-button-contect:hover{
    background-color:  white;
    border: solid var(--button-hover-color);
    padding: 7px;
    color: var(--button-hover-color);
}
:root{
    --button-hover-color:rgba(165, 42, 42, 0.838);
    --button-bg-color:rgba(163, 57, 57, 0.934);
}
.dis-none{visibility: hidden;}
.started{border-bottom: solid var(--button-hover-color) !important;color: var(--button-hover-color) !important;}
.slider-image{
    background-image: url('../images/picture/banner-digital-eye-1\ -\ Copy\ -\ Copy.jpg') !important;
    width: 100%;
    height: 300px;
    /* background-size: cover; */
    background-attachment: fixed;
}
.searching{text-align: center;margin-top:5%;}
.searching a{
    text-decoration: none;
    color: var(--button-bg-color);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.searching a:hover{
    color: var(--button-hover-color);
    text-decoration: underline;
}
.searching input{
    width: 25%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: solid var(--button-hover-color);
    background-color: white;
    padding-left: 30px;
    /* position: absolute; */
    color: brown;
}
.searching button{
    padding: 7px;
    color: white;
    background-color: var(--button-bg-color);
    font-size: 118%;
    border: none;
    width: 100px;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 5px;
}
.heading{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial;
}
.heading-matarial{
    font-size: 30px;
    font-family: Arial;
    text-align: center;
}
.card-sadow{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-description{
    text-align: center;
    font-size: 23px;
    /* margin-left: 15%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-second-description{
    margin: 10%;
    margin-top: 0;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-image img{
    width: 100%;
}
.ourmission{
    padding-left: 10%;
    color: var(--button-bg-color);
    font-size: 40px;
    text-decoration: underline;
}
.about{
    padding-left: 10%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.56);
}
.mission{
    box-shadow: none !important;
    background-color: #dddddd73 !important;
    border: none !important;
}
.card{margin-top: 10px;}
.oppointment{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 3%;
    background-color: var(--button-hover-color);
    border-radius: 5px;
    margin-top: 40px;
}
.oppointment h3{
    font-size: 50px;
    color: white;
}
.oppointment button{
    padding: 10px;
    font-size: 30px;
    color: var(--button-bg-color);
    border: none;
    background-color: white;
    border-radius: 10px;

}
.oppointment button:hover{
    background-color: var(--button-bg-color);
    color: white;
    border: solid white;
    transition: 1s;
}
.medicenter{
    text-align: center;
    font-size: 40px;
    padding: 5%;
}
.medicenter-image-1{
    height: 200px;
    width: 250px;
    margin: 10%;
    margin-left: 40%;
}
.medicenter-image-2{
    position: absolute;
    width: 250px;
    right: 29%;
}
.m-top-60{margin-top: 60px;}
@media screen and (max-width:539px) {
    .medicenter-image-2{
        margin-top: -482px;
        position: relative;
    }
    .medicenter-image-1{
        margin-top: 110px;
        margin-left: 18%;
    }
}
.timing-and-facilities ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 30px;
    border-radius: 5px;
}
.timing-and-facilities ul li i{
    background-color: var(--button-hover-color);
    color: white;
    padding: 20px;
}
.timing{
    font-size: 20px !important;
}
.card-servises h2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--button-bg-color);
    text-decoration: underline;
    padding: 20px;
}
.card-servises p{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.servicelist{
    font-size: 30px;
    text-align: center;
}
.servicelist button{
    color: white;
    background-color: var(--button-bg-color);
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
